*{
background-color: rgb(203, 236, 255);
}
#titulo-Principal{
    text-align: center;
    font-family: 'Lobster', cursive;
    margin-bottom:200px 0px 20px 0px;
}
#intro{
    font-size: 30px;
    margin-left: 7px;
}
#titulo-repositorio{
    margin-left: 7px;
}
#repositorio, .proyectos{
    text-decoration: none;
    font-size: 25px;
    color: rgb(15, 15, 15);
    background-color: tomato;
    text-transform: none;
    padding: 8px 10px;
    margin-left: 7px;
    border-radius: 5px;
}
#repositorio:hover, .proyectos:hover{
    background-color: orangered;
    color: white;
    margin-left: 7px;
}
#img-neocities{
    display: block;
    margin-top: 30px;
}